@import "../Degg/Ui/Styles/variables.scss";

.game-timer-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    justify-content:center;
}

.timer {
    color: white;
    font-family: $font-base;
    font-size: $font-size-medium;
    background-color: $c-primary-500;
    border-left-color: $c-primary-800;
    border-right-color: $c-primary-800;
    border-bottom-color: $c-primary-800;
    border-left-width: 4px;
    border-right-width: 4px;
    border-bottom-width: 2px;
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
    font-weight: bold;
    padding: 16px;
    padding-left: 32px;
    padding-right: 32px;
    transition: all 0.1s ease-in-out;
}

.hidden {
    display: none;
}