@import "/Degg/Ui/Styles/variables.scss";

.store-ui {
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    font-family: $font-base;
    opacity: 0;
    transition: all 0.1s ease-out;
    background-color: rgba(#09091b, 0.99);
    z-index: 999;
    color: rgba(255,255,255,0.95);

    &.open {
        pointer-events: all;
        opacity: 1;
    }

    .menu-title {
        font-size: $font-size-large;
        font-weight: bold;
        justify-content: center;
        align-content: center;
        text-align: center;
    }

    .hidden {
        opacity: 0;
    }
}

