@import "/Degg/Ui/Styles/variables.scss";

.hat-preview {
    width: 256px;
    height: 100px;
    padding: 8px;
    display: flex;
    justify-content: space-evenly;
    justify-content: center;
    align-items: center;

    .hat-preview-inner {
        justify-content: center;
        border-radius: $border-radius;
        flex-grow: 1;
        background-color: $c-primary-600;
        display: flex;
        flex-direction: column;
        padding: 10px;

        .hat-price {
            font-weight: bold;
            color: rgb(255, 216, 0, 1);
        }

        .hat-name {
            padding-bottom: 8px;
            font-weight: bold;
            font-size: $font-size-xsmall;
            color: rgba(255,255,255,0.98);
        }

        &:hover {
            cursor: pointer;
            background-color: $c-primary-500;
        }
    }

    &.bought {
        .hat-preview-inner {
            border-color: $c-primary-200;
            border-width: 3px;
        }
    }
}